<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <link rel="stylesheet" href="../Content/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="../Content/css/styles.css" type="text/css">
</head>
<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="well">
    <h1>Super Fun Time Pet Simulator</h1>
    <form action="/pets" method="post">
      <label for="petName">Enter a name for your pet:</label>
      <input name="petName" type="text" id="petName">
      <label for="petType">Choose a pet type:</label>
      <select name="petType" id="petType">
        <option value="dog">Dog</option>
        <option value="pig">Guinea Pig</option>
        <option value="panda">Red Panda</option>
      </select>
      <button type="submit">Create a new pet</button>
    </form>
</div>
</div>
