<h1>Super Fun Time Pet Simulator</h1>
<h3>Current Pets</h3>
<ul>
@foreach (var pet in Model)
{
  if (pet.GetAlive()) {
  <li><a href="/pet/@pet.GetId()">@pet.GetName()</a></li><br>
  } else {
    <li>@pet.GetName() (R.I.P.)</li><br>
  }
}
</ul>
<p><a href="/">Create another pet.</a></p>
